.producto-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  text-align: center;
}
.producto-card img {
  border-radius: 8px;
}
